<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="background-color: black; color: aliceblue" class="head">
      <ion-title class="tema"
        ><span style="margin: 10px; font-weight: 900">LISTE E CONCLUA</span
        ><ion-button style="height: 30px" [routerLink]="['']"
          >Home</ion-button
        ></ion-title
      >
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="spinner === true" class="container">
    <img src="./assets/spinner.gif" />
  </div>

  <div *ngIf="spinner === false" id="container">
    <h1>Sua Lista de compras/vendas</h1>
    <ion-button
      style="margin-bottom: 10px"
      class="botoes"
      [routerLink]="['/tarefas/listar']"
      >Ir para lista de tarefas</ion-button
    >
    <div class="espaco-lista">
      <table class="table table-striped table-bordered table-hover">
        <tbody>
          <tr>
            <th>Itens da lista</th>
            <th>concluído?</th>
          </tr>
          <tr *ngFor="let compra of compras">
            <td
              [compraConcluida]="compra.concluida"
              [class.success]="!compra.concluida"
            >
              <p>{{ compra.nome }}</p>

              <ion-button
                [compraConcluida]="compra.concluida"
                [class.success]="!compra.concluida"
                (click)="load()"
                style="color: white; margin: auto"
                [routerLink]="['/compras/editar', compra.id]"
                title="Editar"
                alt="Editar"
              >
                <span
                  class="glyphicon glyphicon-pencil"
                  aria-hidden="true"
                ></span>
                Editar
              </ion-button>
              <ion-button
                [compraConcluida]="compra.concluida"
                [class.success]="!compra.concluida"
                color="danger"
                style="color: white; margin: auto"
                href="#"
                title="Remover"
                alt="Remover"
                class="btn btn-xs btn-danger"
                (click)="remover($event, compra)"
              >
                <span
                  class="glyphicon glyphicon-remove"
                  aria-hidden="true"
                ></span>
                Remover
              </ion-button>
              <br />
              <label style="margin-right: 10px">R$</label>
              <input
                [compraConcluida]="compra.concluida"
                [class.success]="!compra.concluida"
                style="margin-top: 15px"
                #valor
                value="{{ compra.valor }}"
                type="number"
                placeholder="digite o valor"
                (blur)="gerarValores(valor.value, compra)"
              >
            </td>
            <td style="width: 70px" class="text-center">
              <input
                type="checkbox"
                [value]="compra.id"
                [checked]="compra.concluida"
                (click)="alterarStatus(compra)"
              />
            </td>
          </tr>
        </tbody>
      </table>

      <p *ngIf="compras.length === 0">
        Lista vazia.<br />
        clique em <span style="font-weight: bold">Novo item</span> para
        adicionar.
      </p>
      <hr />
      <p style="font-weight: 900">Total : {{ total | currency: "BRL" }}</p>
    </div>
    <ion-button
      class="botoes"
      (click)="load()"
      style="color: white; margin: auto"
      [routerLink]="['/compras/cadastrar']"
      >Novo item
    </ion-button>
    <ion-button color="danger" (click)="removerTodos()">Limpar lista</ion-button>

    <p>Desenvolvido por Por: <strong> Reinan santos</strong></p>
  </div>
</ion-content>
